@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f5;
  font-family: 'Poppins', 'sans-serif';
}

.bg-hero-overlay {
  position: relative;
  overflow: hidden;
}

.bg-hero-overlay::before {
  content: "";
  /* background: rgba(0, 0, 0, 0.1); */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.bg-hero-overlay .content {
  position: relative;
  z-index: 2;
}

.shadow-logo {
  -webkit-filter: drop-shadow(2px 2px grey);
}

.bubble {
  bottom: 20px;
  right: 20px;
  transition: transform 0.3s ease-in-out;
}

.bubble:hover {
  transform: scale(1.1);
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}